/*
=====================================================================
*   RMG v1.0 Card Layout
===================================================================== 
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");


.card {
	width:800px;
	height:338px;
	background:transparent;
	position:absolute;
	/* right:590px; */
	margin:auto;
	/* border-radius:10px; */
	border: none;
	/* -webkit-border-radius:10px;
	-moz-border-radius:10px; */
	/* box-shadow: 0px 20px 30px 3px rgba(6, 114, 93, 0.55); */
}
/* @media (max-width: 1090px) {
    .card {
		right:110px;
    }
  } */

.card_left {
	width:45%;
	height:338px;
	float:left;
	overflow:hidden;
	background:#D3DBD6;
	/* border-radius:10px 0 0 10px; */
	align-items: center;
	/* -webkit-border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px; */
}
.card_left img {
	width: 100%;
    height: auto;
    max-width: none;
    max-height: 100vh;
    object-fit: contain;
}
		
.card_right {
	width:55%;
	float:left;
	background:#D3DBD6;
	height:338px;
	/* border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0; */
}
.card_right h1 {
	color:#37432B;
	font-family: "Cabin Sketch", "Roboto Slab", georgia, serif;
	font-weight:700;
	text-align:center;
	text-transform: uppercase;
	font-size:40px;
	margin:30px 0 0 0;
	padding:0 0 0 40px;
	letter-spacing:1px;
}
.card_right h2 {
	color: #35495E;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	text-align:left;
	text-transform: uppercase;
	font-size:26px;
	margin:30px 0 0 0;
	padding:0 0 0 40px;
	letter-spacing:1px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.card_right__details ul {
	list-style-type:none;
	padding:0 0 0 40px;
	margin:10px 0 0 0;
}
.card_right__details ul li {
	display: block;
	color: #35495E;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:14px;
	padding:0 40px 0 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
	
.card_right__button {
	padding:0 0 0 40px;
	margin:30px 0 0 0;
}
.viewmap {
	color:#FFF;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	border:2px solid #0BE2B8;
	padding:10px 10px 10px 40px;
	font-size:12px;
	background:url(./icons/location-green.png);
	background-size:10px 15px;
	background-repeat:no-repeat;
	background-position: 13% 50%;
	background-color: #35495E;
	border-radius:5px;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}
.viewmap:hover {
	color: #000000;
	background-color: #0BE2B8;
	background-image:url(./icons/location-yellow.png);
	background-size:18px 25px;
	background-repeat:no-repeat;
	background-position: 10% 50%;
	cursor: pointer;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.button-wrapper {
    width: 95px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    right: 10px;
    bottom: 20px;
}

.extra-next-button {
	width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    z-index: 99;
    background: #4ecdc0;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
	align-self: flex-end;
	color: #FFF;
	font-size: 30px;
}
.extra-next-button:focus {
    outline: none;
}
.extra-next-button:hover {
	background: #0BE2B8;
}

.layer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 440px;
    height: 50px;
    border-radius: 50%;
	z-index: -99;
	margin-left: 72px;
}

