@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto');

/* timer css */
.counter-wrap {
  float: right;
  margin-right: 10%;
}
@media (max-width: 1199px) {
  .counter-wrap {
    margin-right: 0;
  }
}

.counter-wrap .caption {
	text-align: center;
	text-transform: uppercase;
	/* color: #7d7482; */
	color: red;
	font-weight: 700;
	/* font-size: 24px; */
	font-size: 1.4em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);  
  font-family: "Cabin Sketch", "Roboto Slab", georgia, serif;
}

.counter-wrap .number {
	/* border-radius: 5px;
	background-image: -webkit-linear-gradient(#4d4552, #3e3742);
	background-image: linear-gradient(#4d4552, #3e3742);
	border-top: 1px solid #817489; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);*/
	border-bottom: 1px solid red; 
	text-align: center;
	/* font-size: 60px; */
	font-size: 3.75em;
	font-weight: 700;
	/* padding: 5px 0; */
  margin-bottom: 0px; 
  color: red;
  font-family: "Cabin Sketch", "Roboto Slab", georgia, serif;
  /* float: center; */
}

.container .questionbox{
  width: 90%;
  max-width: 600px;
  padding: 100px;
  margin:auto;
  margin-top: 0px;
  background-color: rgb(224, 228, 227);
  border: 1px solid rgb(145, 142, 142);
  border-radius: 10px;
  float: center;
}

/* pain in the butt map */
  .main-content {
  /* *zoom: 0.5; */
  /* position: relative; */
  /* padding: 30px 0 40px; */
  /* margin-bottom: 50px; */
  /* background-color: #475d36; */
  background-image: url("./images/map_green.png");
  background-attachment: fixed;
  /* background-position: bottom center; */
  /* background-image: src="./images/map_green.png"; */
  }

  #einstein-next-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #next-question-button {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  #einstein-next-button :hover {
    width: 115px;
    height: 115px;
    margin-top: -16px;
  }

  #span-user-score {
	  /* text-align: center;
	  font-size: 3.75em;
	  font-weight: 700;
    margin-bottom: 0px; 
    color: red;
    font-family: "Cabin Sketch", "Roboto Slab", georgia, serif; */

    color:#481380;
	  font-family: "Cabin Sketch", "Roboto Slab", georgia, serif;
	  font-weight:700;
	  text-align:center;
	  font-size:40px;
	  margin:3px 0 0 0;
	  padding:0 0 0 15px;
	  letter-spacing:1px;
  }

  input[type='image'] {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-right: 720px;
    margin-top: -5px;
  }
  input[type='image']:hover {
    width: 60px;
    height: 60px;
    margin-right: 718px;
    margin-top: -8px;
  }
  @media (max-width: 1199px) {
    input[type='image'] {
      margin-right: 540px;
    }
  }
