body{
    color: green;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:80rem;
    margin: 0 auto;
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    border: 0.1rem solid blue;
    background-color: white;
}

.choice-prefix{
    padding: 1.5rem 1.5rem;
    background-color:blue;
    color: white;
}

.choice-text{
    padding: 1.5rem;
}